$color-background: #f1f1f1;
$color-button: #408af1;
$color-bgicon: rgb(240, 246, 255);
$color-buttonLight: #b4d6ee;

$color-gray: rgb(176, 176, 178);
$color-white: #f8f8f8;
$color-dark: #000000;
$color-Light: #ffffff;



body {
    font-size: 100%;

    font-family: Arial, Helvetica, sans-serif;
}